/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff5e1;
}
*/
.main-content {
    background-image: url(../images/bakery_shop.png);
    background-size: cover;
    background-position: center;
    background-blend-mode:hard-light;
    text-align: center;
    padding: 40px 20px;
}
.main-content h1 {
    color: #d32f2f;
    font-size: 36px;
    margin-bottom: 20px;
}
.main-content p {
    color: #555;
    font-size: 18px;
    margin: 15px 0;
    line-height: 1.6;
}
.main-content img {
    height: 300px;
    width: auto;
    border-radius: 10px;
}
footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color: #333;
    margin-top: 40px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 5px 0;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    
}
@media (max-width: 992px) {

    
}
